body {
    background-color: #d5d1ff91;
    padding: 80px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    background: #6633995c;
    padding: 10px 22px;
    border-radius: 6px;
    border: 2px solid #fff;
    color: #fff;
}

.task {
    padding: 10px;
    border: 1px solid #000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    background: #ba80804a;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: 600;

}

.box {
    height: 200px;
    width: 200px;
    /* background: #ba80804a; */
    border: 1px solid;
    margin-bottom: 10px;
}

.light {
    border: 1px solid;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px 0;
}

.main_box,
.square-box,
.box_contains_text {
    height: 200px;
    width: 200px;
    border: 1px solid;
    margin-bottom: 10px;
}

.buttons_container {
    display: flex;
    gap: 10px;
}

.box_contains_text {
    display: flex;
    align-items: center;
    justify-content: center;
}


.img_box img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
}


.logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.winner-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}

.ipl-winner {
    font-family: sans-serif;
    font-size: 20px;
}

.team_name {
    color: green;
    font-weight: 700;
}

.game-container img {
    height: 109px;
    width: 100px;
    object-fit: contain;
    margin: 30px;
}

.win-text {
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    color: #ff7100;
    padding-bottom: 16px;
    font-family: sans-serif;
}



.generate-btn {
    padding: 10px 20px;
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.05);
}


button.check-result {
    margin-top: 20px;
}

input.num-input {
    width: 157px;
}


.img-box img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.fill-bar {
    height: 100%;
    width: 0%;
    background: green;
    transition: width 0.4s ease;
}

.fill-bar {
    height: 4px;
    width: 0%;
    background: rgb(186 208 246 / 90%);
    transition: width 0.4s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    border-radius: 20px;
}

.track-bar {
    height: 8px;
    background: rgb(0 65 182);
    margin-top: 30px;
    position: relative;
    width: 820px;
    padding: 3px;
    border-radius: 20px;
}

.random-box {
    height: 200px;
    width: 200px;
    background: rebeccapurple;
}

.box-container {
    display: flex;
    gap: 20px;
}


.random-box {
    height: 200px;
    width: 200px;
    background: rebeccapurple;
    display: flex;
    font-size: 26px;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: #fff;
    font-weight: 600;
}



.numbers-container {
    display: flex;
    gap: 50px;
    padding: 20px;
    font-size: 30px;
    font-weight: 700;
}

.result-text {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 600;
    padding: 20px;
}

.dom-task {
    font-size: 60px;
    font-family: sans-serif;
    font-weight: 800;
    color: #8b718a;
    padding-bottom: 16px;
}