.box {
    height: 200px;
    width: 200px;
    /* background: #ba80804a; */
    border: 1px solid;
    margin-bottom: 10px;
}

.light {
    border: 1px solid;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px 0;
}

.main_box,
.square-box {
    height: 200px;
    width: 200px;
    border: 1px solid;
    margin-bottom: 10px;
}

.buttons_container {
    display: flex;
    gap: 10px;
}